process {
  cpus = 2
  memory = '3 GB'
  time = '24h'

  maxForks = 1

  withLabel: process_single {
    cpus = 1
    memory = '1 GB'
  }

  withLabel: process_low {
    cpus = 1
    memory = '2 GB'
  }

  withLabel: process_medium {
    cpus = 2
    memory = '3 GB'
  }

  withLabel: process_high {
    cpus = 4
    memory = '5 GB'
  }

  withName: '.*PREPARE_REFERENCES:BWA_INDEX_GENOME.*' {
    cpus = 1
    memory = '4 GB'
    time = '48h'
  }

  withName: '.*PREPARE_REFERENCES:BWA_INDEX_MT.*' {
    cpus = 1
    memory = '2 GB'
    time = '6h'
  }

  withName: '.*PREPARE_REFERENCES:BWA_INDEX_MT_SHIFT.*' {
    cpus = 1
    memory = '2 GB'
    time = '6h'
  }

  withName: '.*PREPARE_REFERENCES:GATK_SD.*' {
    cpus = 1
    memory = '3 GB'
    time = '6h'
  }

  withName: '.*PREPARE_REFERENCES:SAMTOOLS_FAIDX.*' {
    cpus = 1
    memory = '1 GB'
    time = '2h'
  }

  withName: '.*ALIGN_BWA_BWAMEM2_BWAMEME:BWA.*' {
    cpus = 2
    memory = '8 GB'
    time = '24h'
  }

  withName: '.*ALIGN_MT:BWA_MEM_MT.*' {
    cpus = 2
    memory = '4 GB'
    time = '12h'
  }

  withName: '.*ALIGN_MT_SHIFT:BWA_MEM_MT.*' {
    cpus = 2
    memory = '4 GB'
    time = '12h'
  }

  withName: '.*MARKDUPLICATES.*' {
    cpus = 3
    memory = '5 GB'
    time = '12h'
  }

  withName: '.*SAMTOOLS_SORT.*' {
    cpus = 2
    memory = '3 GB'
    time = '8h'
  }

  withName: '.*SAMTOOLS_INDEX.*' {
    cpus = 1
    memory = '1 GB'
    time = '2h'
  }

  withName: '.*FASTQC.*' {
    cpus = 2
    memory = '2 GB'
    time = '4h'
  }

  withName: '.*MOSDEPTH.*' {
    cpus = 2
    memory = '3 GB'
    time = '6h'
  }

  withName: '.*PICARD_.*' {
    cpus = 2
    memory = '4 GB'
    time = '12h'
  }

  withName: '.*DEEPVARIANT.*' {
    cpus = 4
    memory = '8 GB'
    time = '24h'
  }

  withName: '.*GLNEXUS.*' {
    cpus = 2
    memory = '4 GB'
    time = '8h'
  }

  withName: '.*GATK4_MUTECT2_MT.*' {
    cpus = 2
    memory = '4 GB'
    time = '12h'
  }
}

executor {
  queueSize = 1
}

docker {
  enabled = true
}