includeConfig 'test_singleton.config'

params {
    // Оставляем полноценный SNV-путь, но выключаем самые тяжёлые не-SNV ветки
    skip_tools = 'fastp,gens,haplogrep3,peddy,germlinecnvcaller,qualimap,eklipse,ngsbits,smncopynumbercaller'
    skip_subworkflows = 'mt_annotation,mt_subsample,me_calling,me_annotation,sv_annotation,sv_calling,repeat_calling,repeat_annotation'

    // Меньше scatter = меньше одновременных кусочков на аннотации
    scatter_count = 4
}

process {
    cpus = 2
    memory = '3 GB'
    time = '12h'

    withLabel: process_single {
        cpus = 1
        memory = '1 GB'
    }

    withLabel: process_low {
        cpus = 1
        memory = '2 GB'
    }

    withLabel: process_medium {
        cpus = 2
        memory = '3 GB'
    }

    withLabel: process_high {
        cpus = 2
        memory = '5 GB'
    }

    withName: '.*PREPARE_REFERENCES:GATK_SD.*' {
        cpus = 1
        memory = '3 GB'
    }

    withName: '.*BWAMEM2_MEM.*' {
        cpus = 2
        memory = '4 GB'
    }

    withName: '.*MARKDUPLICATES.*' {
        cpus = 2
        memory = '4 GB'
    }

    withName: '.*MOSDEPTH.*' {
        cpus = 1
        memory = '3 GB'
    }

    withName: '.*DEEPVARIANT.*' {
        cpus = 2
        memory = '7 GB'
    }

    withName: '.*GLNEXUS.*' {
        cpus = 2
        memory = '4 GB'
    }

    withName: '.*ENSEMBLVEP.*' {
        cpus = 2
        memory = '4 GB'
    }

    withName: '.*CALL_SNV_MT.*' {
        cpus = 1
        memory = '3 GB'
    }

    withName: '.*POSTPROCESS_MT_CALLS.*' {
        cpus = 1
        memory = '2 GB'
    }
}

executor {
    queueSize = 1
}

docker {
    enabled = true
}